.table thead th{
    position: sticky;
    top: 0;
    background: lightgray;
    border-collapse:collapse;
    z-index: 10;
}


.dropdown-toggle {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-row{
    max-height: 40%;
    overflow-y: scroll;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.hide-input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input {
    width: auto;
    background: whitesmoke;
    fill: white;
}


